@font-face {
  font-family: "Bergurau-Regular";
  src: url("/fonts/Bergurau-Regular.otf") format("opentype");
}
@font-face {
  font-family: "navigator-hand";
  src: url("/fonts/navigator-hand.ttf") format("truetype");
}

@font-face {
  font-family: "Bekstap-Regular";
  src: url("/fonts/Bekstap-Regular.otf") format("opentype");
}
.navigator-hand {
  font-family: "navigator-hand", sans-serif;
}
.ber {
  font-family: "Bekstap-Regular", sans-serif;
}