@font-face {
  font-family: "SuisseIntl-Regular";
  src: url("/fonts/SuisseIntl-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "navigator-hand";
  src: url("/fonts/navigator-hand.ttf") format("truetype");
}

@font-face {
  font-family: "BADABB";
  src: url("/fonts/BADABB.ttf") format("truetype");
}

@font-face {
  font-family: "OldschoolGrotesk-NormalBold";
  src: url("/fonts/OldschoolGrotesk-NormalBold.otf") format("opentype");
}

@font-face {
  font-family: "OldschoolGrotesk-NormalExtraBold";
  src: url("/fonts/OldschoolGrotesk-NormalExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "NeueHaasUnicaPro-Medium";
  src: url("/fonts/NeueHaasUnicaPro-Medium.ttf") format("truetype");
}
.navigator-hand {
  font-family: "navigator-hand", sans-serif;
}
.f1 {
  font-family: "OldschoolGrotesk-NormalExtraBold", sans-serif;
}

.ss-font {
  font-family: "SuisseIntl-Regular", sans-serif;
}
.pro {
  font-family: "BADABB", sans-serif;
}
.ber {
  font-family: "NeueHaasUnicaPro-Medium", sans-serif;
}